HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/spring-core/mvnw
/spring-core/mvnw.cmd
/spring-data/mvnw
/spring-data/mvnw.cmd
/spring-service/mvnw
/spring-service/mvnw.cmd
/spring-web/mvnw
/spring-web/mvnw.cmd
/spring-core/.mvn/
/spring-data/.mvn/
/spring-service/.mvn/
/spring-web/.mvn/
